Repository Letto228/Angular-learnjs-121222: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npx eslint

feat: add test text
  README.md
Due: none

feat: update estlintrc and prettierrc
  .eslintrc.json
  .prettierrc.json
  package-lock.json
Due: npm run prettier:fix

feat: add some pretier and linter rules
  .eslintrc.json
  .prettierrc.json
  package-lock.json
Due: npm run prettier:fix

Улучшайзинг конфигов. 1.etlint 2. pretier 3.tsconfig
  .eslintrc.json
  .prettierrc.json
  tsconfig.json
Due: npm run prettier:fix

feat: add rules eslint and prettier
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix

Update .prettierrc.json
  .prettierrc.json
Due: npm run prettier:fix

Update .eslintrc.json
  .eslintrc.json
Due: npm run prettier:fix

Init
  .browserslistrc
  .editorconfig
  .gitignore
  README.md
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.less
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/assets/.gitkeep
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/favicon.ico
  src/index.html
  src/main.ts
  src/polyfills.ts
  src/styles.less
  src/test.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: npm run prettier:fix, npx eslint

feat: update eslint rules
  .eslintrc.json
Due: npm run prettier:fix

chore: prettier fix
  src/app/app.component.html
  src/index.html
  src/main.ts
Due: npm run prettier:fix, npx eslint

feat: add plugin for prettier
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix

Add prettier
  .prettierignore
  .prettierrc.json
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/main.ts
  src/polyfills.ts
  src/test.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: npm run prettier:fix, npx eslint

Add eslint
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
  user.interface.ts
Due: npm run prettier:fix, npx eslint

Fix dependencies
  package-lock.json
  package.json
Due: npm run prettier:fix

Add husky
  .husky/pre-commit
Due: none

Upadte husky
  .husky/pre-commit
Due: none

Add lint-staged
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  angular.json
  package-lock.json
  package.json
  user.interface.ts
Due: npm run prettier:fix, npx eslint

Update staged
  .husky/pre-commit
  .lintstagedrc.json
Due: npm run prettier:fix

feat: add commitlint
  commitlint.config.js
Due: npm run prettier:fix, npx eslint

feat: fix lintstaged config
  .lintstagedrc.json
Due: npm run prettier:fix

feat: add commit-msg hook
  .husky/commit-msg
Due: none

feat: add angular-material
  angular.json
  src/app/app.module.ts
  src/index.html
  src/styles.less
Due: npm run prettier:fix, npx eslint

feat: add husky prepare script
  package.json
Due: npm run prettier:fix

fix: conflicts between eslint and prettier
  .eslintrc.json
Due: npm run prettier:fix

fix: conflicts between eslint and prettier airbnb
  package-lock.json
  package.json
Due: npm run prettier:fix

Правки по уроку 3
  angular.json
  src/app/app.component.html
  src/app/app.component.less
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header/header.component.html
  src/app/components/header/header/header.component.less
  src/app/components/header/header/header.component.spec.ts
  src/app/components/header/header/header.component.ts
  src/app/components/header/header/header.module.ts
Due: npm run prettier:fix, npx eslint

feat: lecture 2
  .editorconfig
  src/app/app.component.html
  src/app/app.component.less
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/header/header.component.html
  src/app/components/header/header.component.less
  src/app/components/header/header.component.spec.ts
  src/app/components/header/header.component.ts
  src/app/components/header/header.module.ts
  src/app/products-list/products-list.component.html
  src/app/products-list/products-list.component.less
  src/app/products-list/products-list.component.spec.ts
  src/app/products-list/products-list.component.ts
  src/app/products-list/products-list.module.ts
Due: npm run prettier:fix, npx eslint

feat: add products info
  src/app/shared/products/product-image.interface.ts
  src/app/shared/products/product.interface.ts
  src/app/shared/products/product.mock.ts
Due: npm run prettier:fix, npx eslint

Less to css
  src/styles.css
Due: none

Setup Prettier
  .prettierignore
  .prettierrc.json
Due: npm run prettier:fix

Fix all by prettier
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/index.html
  src/main.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: npm run prettier:fix, npx eslint

Setup ESLint
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
Due: npm run prettier:fix

Fix all by prettier
  .eslintrc.json
  .prettierrc.json
  angular.json
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/main.ts
Due: npm run prettier:fix, npx eslint

Setup husky
  package-lock.json
  package.json
Due: npm run prettier:fix

Setup husky
  .husky/pre-commit
Due: none

Delete husky
  .husky/pre-commit
  package.json
Due: npm run prettier:fix

test commit for fork
  src/assets/image.jpg
Due: none

feat: add 1 more eslint rule
  .eslintrc.json
Due: npm run prettier:fix

feat: add naming eslint rules
  .eslintrc.json
  package-lock.json
  package.json
Due: npm run prettier:fix

Path conditions:
  npm run prettier:fix: ((any of: *.{ts,js}) or (any of: *.less)) or (any of: *.json)
  npx eslint: any of: *.{ts,js}
